.body {
    background-color: rgb(182, 220, 236);
    background-image: url(img/amigos-icon-2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 500px 500px;
    background-attachment: fixed;
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    clear: left;
}

.amigos-icon {
    height: 110px;
    width: 110px;
    margin: 20px 20px 20px 20px;
}

.main {
    font-size: 44px;
    margin-top: 86px;
}

.amigos-icon, .main {
    float: left;
}

.nav-icons :hover {
    font-size: 25px;
}

.header {
    width: 100%;
}

.nav-icons {
    float: left;
    border-bottom: 2px solid black;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    list-style-type: none;
}

.nav-home {
    margin-left: 10%;
}


.podcasts {
    border: 2px solid #ada2a2;
}

.yt-frame {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
  }

.you-t {
    margin: auto;
    width: 75%;
}

.line {
    clear: left;
}

.title {
    text-align: center;
}

.about {
    text-align: center;
}

.yt-link {
    font-size: 20px;
    color: red;
}

.about-us {
    margin: 5px 100px 5px 100px;
}

.footer {
    width: 100%;
    margin-bottom: 40px;
}

.social-icons {
    padding: 20px;
}

.icon {
    float: left;
    margin-left: 10px;
    display: block;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

.copyright {
    float: right;
    margin-right: 20px;
}

.twitter,.instagram,.youtube{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

/* about text stying */

.profile {
    border: 3px solid black;
    margin-bottom: 5px;
}

.profile-text {
    margin: 0px 10px 5px 10px;
}

.profile-text .profile-image {
    padding: 5px;
}

.profile-image {
    height: 100px;
    width: 100px;
    margin: 10px 0px 5px 10px;
}

/* links page stying */

.map {
    display: flex;
    justify-content: center;
}

.pc-social-title {
    margin-left: 100px;
}

.pc-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.p-insta {
    font-size: 35px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
}

.p-twit {
    font-size: 35px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
}

.p-yt {
    font-size: 35px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
}

.column-section {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

.columns {
    float: left;
    width: 32%;
    height: 200px;
    text-align: center;
    border: 3px solid black;
    margin-right: 10px;
    font-size: 20px;
    overflow: hidden;
    margin-top: 25px;
}

.c-luis, .c-davin, .c-marcos {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 30px;
    padding: 10px;
}

.c-luis {
    margin-top: 55px;
    transition: color 3s, background-color 2s, padding 3s, margin-top 2s;
}

.c-luis:hover{
    color: rgba(66, 66, 66, 0);
    background-color: rgba(66, 66, 66, 0);
    padding: 100px;
    position: relative;
    margin-top: 0px;
}

.c-davin {
    margin-top: 55px;
    transition: color 2s, background-color 2s, padding 3s, margin-top 2s;
}

.c-davin:hover {
    color: rgba(66, 66, 66, 0);
    background-color: rgba(66, 66, 66, 0);
    padding: 100px;
    position: relative;
    margin-top: 0px;
}

.c-marcos {
    margin-top: 55px;
    transition: color 2s, background-color 2s, padding 3s, margin-top 2s;
}

.c-marcos:hover {
    color: rgba(66, 66, 66, 0);
    background-color: rgba(66, 66, 66, 0);
    padding: 100px;
    position: relative;
    margin-top: 0px;
}

.bottom-about-hr {
    position: relative;
    top: 10px;
}

@media screen and (max-width: 580px) {
    .pc-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .column-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .columns {
        width: 75%;
    }
  }